//
//  APIConfig.xcconfig
//  BedSolution
//
//  Created by 이재호 on 7/28/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

BASE_URL = http://34.30.146.175:8000
API_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzUyOTM3MjAwLCJleHAiOjE5MTA3MDM2MDB9.s6bz3SRMXDm-fcQ6j3dEA4hkgildoL-dHT50rR_HIFQ
